__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

openai_config.json

*.json
*.csv
*.txt
*.log
*.err
*.out
*.err.log
*.out.log
*.err.log.gz
*.out.log.gz