[
  {
    "authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0cmFuc2FjdGlvbl9pZCI6IjllNWVmYTA3LTY4YjEtNDY4NC05M2FmLTRkN2YwOTFkNjM5ZCIsInN1YiI6IjMxNGNiZjIzLWQxMmEtMTFmMC1hMDI3LWJmZjgxZDJmZjYwNyIsImF1ZCI6WyJyZXN0c2VydmljZSJdLCJ1c2VyX25hbWUiOiJ0cmljYW8xMTQ4QGdtYWlsLmNvbSIsInNjb3BlIjpbInJlYWQiXSwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3QiLCJuYW1lIjoidHJpY2FvMTE0OEBnbWFpbC5jb20iLCJ1dWlkX2FjY291bnQiOiIzMTRjYmYyMy1kMTJhLTExZjAtYTAyNy1iZmY4MWQyZmY2MDciLCJhdXRob3JpdGllcyI6WyJVU0VSIiwiVFJBQ0tfMiJdLCJqdGkiOiI4NTRmOTljNC04NWU1LTQyODItODA3Zi00YjExOGE5ZmY2MzIiLCJjbGllbnRfaWQiOiJhZG1pbmFwcCJ9.dLHVJDHonqyjhlN1h7OhNXzzMaE-_IhyWHgWnzVHUO2V9vNkQ986V_9j49Ch1ZxNpRofmuUfnbcT3TizVcAQLJSmgYF0pcXRJJdi4dQnePir_ar2F0EG50jmN_gtxJI3QCDIK71w-vGm2ElyftayPGcXWLCIUhtdhxvDIwfgUfdd87sob2vK85aZqid15IWWexKxi8woixW6hLeF4Pd9P2qJdD1Tg_XIjH7JoBE8_h9MR2DR7qeZ2aYwyyVJun4vJcpmM9SxfX3AnFqwWa6PkQIA8U5QMgOPdh7_22X1N4Q6GPDJKVoI3YY4wb-K1jB1D3FiTemo517CPdf56bN73g",
    "tokenKey": "MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAKtOZixB3dl6p127LaXFGvDCoGovX3zi/i3Vk/b30pGg4riXHz+H44vkSFGC0VIhmXKuXTUVwv+7G78ZdXWjEtMCAwEAAQ==",
    "llmApiName": "LLM large",
    "tokenId": "4525a842-6cf9-553c-e063-62199f0a1086"
  },
  {
    "authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0cmFuc2FjdGlvbl9pZCI6IjllNWVmYTA3LTY4YjEtNDY4NC05M2FmLTRkN2YwOTFkNjM5ZCIsInN1YiI6IjMxNGNiZjIzLWQxMmEtMTFmMC1hMDI3LWJmZjgxZDJmZjYwNyIsImF1ZCI6WyJyZXN0c2VydmljZSJdLCJ1c2VyX25hbWUiOiJ0cmljYW8xMTQ4QGdtYWlsLmNvbSIsInNjb3BlIjpbInJlYWQiXSwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3QiLCJuYW1lIjoidHJpY2FvMTE0OEBnbWFpbC5jb20iLCJ1dWlkX2FjY291bnQiOiIzMTRjYmYyMy1kMTJhLTExZjAtYTAyNy1iZmY4MWQyZmY2MDciLCJhdXRob3JpdGllcyI6WyJVU0VSIiwiVFJBQ0tfMiJdLCJqdGkiOiI4NTRmOTljNC04NWU1LTQyODItODA3Zi00YjExOGE5ZmY2MzIiLCJjbGllbnRfaWQiOiJhZG1pbmFwcCJ9.dLHVJDHonqyjhlN1h7OhNXzzMaE-_IhyWHgWnzVHUO2V9vNkQ986V_9j49Ch1ZxNpRofmuUfnbcT3TizVcAQLJSmgYF0pcXRJJdi4dQnePir_ar2F0EG50jmN_gtxJI3QCDIK71w-vGm2ElyftayPGcXWLCIUhtdhxvDIwfgUfdd87sob2vK85aZqid15IWWexKxi8woixW6hLeF4Pd9P2qJdD1Tg_XIjH7JoBE8_h9MR2DR7qeZ2aYwyyVJun4vJcpmM9SxfX3AnFqwWa6PkQIA8U5QMgOPdh7_22X1N4Q6GPDJKVoI3YY4wb-K1jB1D3FiTemo517CPdf56bN73g",
    "tokenKey": "MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALHJfqzZbqOBiRDwrra5OtOx85rxwZwXlPoR52ahN/eePJAr7JoeKA657rBfQEXKP5Em/Wvgs+O23yqS4x6U8L0CAwEAAQ==",
    "llmApiName": "LLM small",
    "tokenId": "4525a834-478f-6f29-e063-62199f0a0f81"
  },
  {
    "authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0cmFuc2FjdGlvbl9pZCI6IjllNWVmYTA3LTY4YjEtNDY4NC05M2FmLTRkN2YwOTFkNjM5ZCIsInN1YiI6IjMxNGNiZjIzLWQxMmEtMTFmMC1hMDI3LWJmZjgxZDJmZjYwNyIsImF1ZCI6WyJyZXN0c2VydmljZSJdLCJ1c2VyX25hbWUiOiJ0cmljYW8xMTQ4QGdtYWlsLmNvbSIsInNjb3BlIjpbInJlYWQiXSwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3QiLCJuYW1lIjoidHJpY2FvMTE0OEBnbWFpbC5jb20iLCJ1dWlkX2FjY291bnQiOiIzMTRjYmYyMy1kMTJhLTExZjAtYTAyNy1iZmY4MWQyZmY2MDciLCJhdXRob3JpdGllcyI6WyJVU0VSIiwiVFJBQ0tfMiJdLCJqdGkiOiI4NTRmOTljNC04NWU1LTQyODItODA3Zi00YjExOGE5ZmY2MzIiLCJjbGllbnRfaWQiOiJhZG1pbmFwcCJ9.dLHVJDHonqyjhlN1h7OhNXzzMaE-_IhyWHgWnzVHUO2V9vNkQ986V_9j49Ch1ZxNpRofmuUfnbcT3TizVcAQLJSmgYF0pcXRJJdi4dQnePir_ar2F0EG50jmN_gtxJI3QCDIK71w-vGm2ElyftayPGcXWLCIUhtdhxvDIwfgUfdd87sob2vK85aZqid15IWWexKxi8woixW6hLeF4Pd9P2qJdD1Tg_XIjH7JoBE8_h9MR2DR7qeZ2aYwyyVJun4vJcpmM9SxfX3AnFqwWa6PkQIA8U5QMgOPdh7_22X1N4Q6GPDJKVoI3YY4wb-K1jB1D3FiTemo517CPdf56bN73g",
    "tokenKey": "MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAI5vnT6RsZcLxdWZCOfypwjgbbbYJxFKTbyuDX4td73H7XttC7dZU+SU1XBKivz1nRXueNXUs2/B+0oOnP95yX0CAwEAAQ==",
    "llmApiName": "LLM embedings",
    "tokenId": "4525a834-4790-6f29-e063-62199f0a0f81"
  }
]